# Settings template / documentation

# Whether or not the bot is in debug mode.
# Optional; false by default.
debug: <boolean>

# The directory to save logs to; false to disable saving log files.
# Optional; false by default.
logDirectory: <string | false>

# Your bot token used to log in to Discord with the bot.
token: <string>

# A list of user IDs for owner only commands.
# Optional; empty by default.
owners:
  - <string>
  - <string>
  - ...

# The channel ID of the bot's home channel.
homeChannel: <string>

# Whether the bot should send an embed when a full URL to a ticket gets posted.
ticketUrlsCauseEmbed: <boolean>

# Whether the bot should send an embed when a ticket gets posted inside of a quote.
quotedTicketsCauseEmbed: <boolean>

# A prefix that prevents the bot from posting an embed for a mentioned ticket.
# If this prefix is longer than 1, none of the characters can be used.
# When omitted or empty, no prefix prevents embeds.
forbiddenTicketPrefix: <string>

# Prefix that needs to preceed any mentioned ticket in order for the bot to post an embed
# If this prefix is longer than 1, the entire string needs to prefix any mentioned ticket.
# When omitted or empty, no prefix is required for posting embeds.
requiredTicketPrefix: <string>

# An emoji or emoji ID which, when reacted to a bot embed, deletes it.
embedDeletionEmoji: <string>

# The maximum number of results returned by the jira search command.
maxSearchResults: <number>

# The projects the bot should be able to find tickets for.
projects:
  - <string>
  - <string>
  - ...

# Settings about channels that handle user requests.
request:
  # The IDs of the server's request channels.
  # Optional; empty by default.
  channels:
    - <string>
    - <string>
    - ...
  
  # The IDs of the corresponding internal channels of the request channels.
  # All the messages sent in a request channel by users will be forwarded to the respective internal channel by the bot.
  # The length of this array MUST be the same as the length of `channels`.
  # You MAY use the same internal channel for multiple times.
  # Optional; empty by default.
  internalChannels:
    - <string>
    - <string>
    - ...

  # The number of allowed requests per user per day.
  # If the number of requests created by a single user exceeds this amount, new requests will not be forwarded to the internal channels.
  # The length of this array MUST be the same as the length of `channels`.
  # Setting to a negative number will remove the request limit
  # Optional; empty by default.
  requestLimits:
    - <number>
    - <number>
    - ...

  # The IDs of the server's testing request channels.
  # Optional; empty by default.
  testingRequestChannels:
    - <string>
    - <string>
    - ...

  # A channel which stores logs like `<volunteer> resolved <original message ID> as <emoji>.`
  logChannel: <string>
  
  # An emoji or emoji ID which means that the request doesn't contain any valid ticket ID or ticket link.
  noLinkEmoji: <string>

  # An emoji or emoji ID which means that the request contains a ticket that is invalid.
  invalidTicketEmoji: <string>

  # The lifetime of the warning about an invalid request, in milliseconds.
  warningLifetime: <number>

  # Jira search jql that marks a ticket as invalid to make requests for.
  invalidRequestJql: <string>

  # An emoji or emoji ID which means that the request is waiting to be handled.
  # The bot will react to every user's request with this emoji.
  waitingEmoji: <string>

  # An array of emojis or emoji IDs that volunteers may be interested in.
  # Note: volunteers are free to use emoji which aren't in the array.
  # This feature is only used to make work more efficient.
  # Optional; empty by default.
  suggestedEmoji:
    - <string>
    - <string>
    - ...
  
  # An emoji or emoji ID which, when used, doesn't trigger the response template message.
  ignorePrependResponseMessageEmoji: <string>

  # An emoji or emoji ID which, when used, doesn't resolve the request.
  ignoreResolutionEmoji: <string>

  # The amount of time in milliseconds between a volunteer reacts to the message and the bot deletes its message.
  resolveDelay: <number>

  # The amount of time in milliseconds between a volunteer sends a message and the bot deletes the message and adds it to the internal request.
  progressMessageAddDelay: <number>

  # If and when the message defined in `responseMessage` should be added to an entry in the internal requests channel.
  # Optional; never by default.
  prependResponseMessage: <'never' | 'whenResolved' | 'always'>

  # Whether the message defined in `responseMessage` should be added to the entry in the log channel.
  # Optional; false by default.
  prependResponseMessageInLog: <boolean>

  # The response message to be send for easy copying a message to respond to a request.
  # Parameters are {{autor}}, {{url}} and {{message}}.
  # {{author}} will be replaced by "@DiscordUser#1234".
  # {{url}} will be replaced by the link to the message.
  # {{message}} will be replaced by a quote of the contents of the message.
  # Optional; empty string by default
  responseMessage: <string>

# A list of role groups that users can self-assign roles.
roleGroups:
  # A list of self-assignable roles for this group.
  - roles:
      # The role's ID
    - id: <number>

      # The role's name.
      title: <string>

      # Optional; the role's description.
      desc: <string>

      # The ID of an emoji representing this role.
      # This needs to be the ID of a custom emoji currently!
      emoji: <number>

    - <see above>
    - ...
    # The prompt that should be shown for the role selection message.
    prompt: <string>
    # Optional; Further explanation on the role selection.
    desc: <string>
    # Color of the role selection embed.
    color: <string>
    # The channel ID of which the role selection message is in.
    channel: <string>
    # The message ID of this role selection message.
    message: <string>
    # Whether or not users can only choose one role from this group.
    radio: <boolean>

# A list of feeds that should be sent when there are unknown tickets in a specific filter.
filterFeeds:
    # The filter's JQL query.
  - jql: <string>

    # The JQL query for which tickets should be allowed to be reposted that have been posted previously.
    # Optional; Only include if cached is set to true
    jqlRemoved: <string>

    # The ID of the channel in which the feed should be sent.
    channel: <string>

    # The interval of the check for this filter feed, in milliseconds.
    interval: <number>
    
    # The emoji to react to all filter feed messages with.
    # Optional; none by default.
    filterFeedEmoji: <string>

    # The title for this feed embed.
    # {{num}} will be replaced by the number of ticket(s).
    title: <string>
    
    # The message accompanying this feed embed, in case there's only one ticket.
    # If this is not set, `title` will be used instead.
    titleSingle: <string>

    # Whether the bot should automatically publish feed messages it posts, if the channel is an announcement channel.
    # Optional; false by default.
    publish: <boolean>

    # Whether the bot should cache tickets in the filter feed, 
    # If false, the property lastRun should be included in the jql, but when true, the filter feed will be less efficient.
    # Optional; true by default.
    cached: <boolean>
  
  - <see above>
  - ...

# A list of feeds that should be sent when there has been a change to a version.
versionFeeds:
    # The projects whose versions should be monitored.
  - projects:
      - <string>
      - <string>
      - ...

    # The ID of the channel in which the feed should be sent.
    channel: <string>

    # The interval of the check for this version feed, in milliseconds.
    interval: <number>

    # The emoji to react to all version feed messages with.
    # Optional; none by default.
    versionFeedEmoji: <string>

    # How many versions should be monitored; only the x latest versions are monitored.
    scope: <number>

    # A list of actions that should be included in the version feed.
    actions:
      - <'created' | 'released' | 'unreleased' | 'archived' | 'unarchived' | 'renamed'>
      - ...

    # Whether the bot should automatically publish feed messages it posts, if the channel is an announcement channel.
    # Optional; false by default.
    publish: <boolean>
  
  - <see above>
  - ...
